# **House Price Prediction**

-------------

## **Objective**


Predicting House prices

## **Data Source**

'https://raw.githubusercontent.com/YBI-Foundation/Dataset/main/House%20Prices.csv'

## **Import Library**

In [50]:
# Step 1 : import library
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

## **Import Data**

In [51]:
# Step 2 : import data
house = pd.read_csv('https://raw.githubusercontent.com/YBI-Foundation/Dataset/main/House%20Prices.csv')

## **Describe Data**

In [52]:
# For getting data description, some functions:
house.head()

,ID,Date,Price,Bedrooms,Bathrooms,Sqft_living,Sqft_lot,Floors,Waterfront,View,...,Grade,Sqft_above,Sqft_basement,Yr_built,Yr_renovated,zipcode,Lat,Long,Sqft_living15,Sqft_lot15
0,1,20140916T000000,280000.0,6,3.00,2400,9373,2.0,0,0,...,7,2400,0,1991,0,98002,47.3262,-122.214,2060,7316
1,2,20150422T000000,300000.0,6,3.00,2400,9373,2.0,0,0,...,7,2400,0,1991,0,98002,47.3262,-122.214,2060,7316
2,3,20140508T000000,647500.0,4,1.75,2060,26036,1.0,0,0,...,8,1160,900,1947,0,98166,47.4444,-122.351,2590,21891
3,4,20140811T000000,400000.0,3,1.00,1460,43000,1.0,0,0,...,7,1460,0,1952,0,98166,47.4434,-122.347,2250,20023
4,5,20150401T000000,235000.0,3,1.00,1430,7599,1.5,0,0,...,6,1010,420,1930,0,98168,47.4783,-122.265,1290,10320

In [53]:
house.info()  # it show full description of data set which include :
                  # 1. data type
                  # 2. Total entries
                  # 3. Total columns/variables
                  # 4. columns names along with data types
                  # 5. Null vaues in each column

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             21613 non-null  int64
 1   Date           21613 non-null  object
 2   Price          21613 non-null  float64
 3   Bedrooms       21613 non-null  int64
 4   Bathrooms      21613 non-null  float64
 5   Sqft_living    21613 non-null  int64
 6   Sqft_lot       21613 non-null  int64
 7   Floors         21613 non-null  float64
 8   Waterfront     21613 non-null  int64
 9   View           21613 non-null  int64
 10  Condition      21613 non-null  int64
 11  Grade          21613 non-null  int64
 12  Sqft_above     21613 non-null  int64
 13  Sqft_basement  21613 non-null  int64
 14  Yr_built       21613 non-null  int64
 15  Yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  Lat            21613 non-null  float64
 18  Long           21613 non-null  float64
 19  Sqft_living15  21613 non-null  int64
 20  Sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

In [54]:
house.describe() # it show statistal description of our whole data set
                     # ex: min, max, quartile(q1,q2,q3), mean, std, and count
                #For numerical columns: count, mean, std, min, 25%, 50%,75%, max
                # For object columns (such as strings): count, unique, top, freq

#Also can get selective column description
# print(admission[['Serial No','GRE Score']].describe())

,ID,Price,Bedrooms,Bathrooms,Sqft_living,Sqft_lot,Floors,Waterfront,View,Condition,Grade,Sqft_above,Sqft_basement,Yr_built,Yr_renovated,zipcode,Lat,Long,Sqft_living15,Sqft_lot15
count,21613.00000,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,10807.00000,5.401822e+05,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,3.409430,7.656873,1788.390691,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
std,6239.28002,3.673622e+05,0.930062,0.770163,918.440897,4.142051e+04,0.539989,0.086517,0.766318,0.650743,1.175459,828.090978,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631
min,1.00000,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,5404.00000,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,10807.00000,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,16210.00000,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,21613.00000,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

## **Data Preprocessing**

Data Preprocessing include several steps:
.Data Cleaning  .Data Transforming  .Data Reduction

our data set is already cleaned. So we skiped this step

## **Data Visualization**

## **Define Target Variable (y) and Feature Variables (X)**

In [55]:
house.columns

Index(['ID', 'Date', 'Price', 'Bedrooms', 'Bathrooms', 'Sqft_living',
       'Sqft_lot', 'Floors', 'Waterfront', 'View', 'Condition', 'Grade',
       'Sqft_above', 'Sqft_basement', 'Yr_built', 'Yr_renovated', 'zipcode',
       'Lat', 'Long', 'Sqft_living15', 'Sqft_lot15'],
      dtype='object')

In [56]:
y = house['Price']

In [62]:
#X = house[[  'Bedrooms', 'Bathrooms', 'Sqft_living',
#      'Sqft_lot', 'Floors', 'Waterfront', 'View', 'Condition', 'Grade',
#     'Sqft_above', 'Sqft_basement', 'Yr_built', 'Yr_renovated', 'zipcode',
#    'Lat', 'Long', 'Sqft_living15', 'Sqft_lot15']]
#by our ols model we get that 'Floors', ' const' are not necessary

X = house[[   'Bedrooms', 'Bathrooms', 'Sqft_living',
       'Sqft_lot',  'Waterfront', 'View', 'Condition', 'Grade',
       'Sqft_above', 'Sqft_basement', 'Yr_built', 'Yr_renovated', 'zipcode',
       'Lat', 'Long', 'Sqft_living15', 'Sqft_lot15']]

# **Explainatory Model**

In [63]:
import statsmodels.api as sm
x1 = sm.add_constant(X)
print(sm.OLS(y,x1).fit().summary())#it help us to find co-relation b/w features
                                   # & which features are not necessary/ signi
                                   # -ficant or to remove redundent feature
                                   # To find significnant features
#Here imortant explanatory elememts are:
# R-squared
# F-statistic
# p values
# slope and coffe

# t<2 or p,(t)>5% Drop

                            OLS Regression Results
==============================================================================
Dep. Variable:                  Price   R-squared:                       0.700
Model:                            OLS   Adj. R-squared:                  0.699
Method:                 Least Squares   F-statistic:                     3145.
Date:                Thu, 09 May 2024   Prob (F-statistic):               0.00
Time:                        12:09:47   Log-Likelihood:            -2.9462e+05
No. Observations:               21613   AIC:                         5.893e+05
Df Residuals:                   21596   BIC:                         5.894e+05
Df Model:                          16
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
const          5.727e+06   2.89e+06      1.983      0.047    6.48e+04    1.14e+07
Bedrooms      -3.589e+04   1892.441    -18.967      0.000   -3.96e+04   -3.22e+04
Bathrooms      4.274e+04   3143.941     13.595      0.000    3.66e+04    4.89e+04
Sqft_living     110.0444      2.257     48.753      0.000     105.620     114.469
Sqft_lot          0.1264      0.048      2.637      0.008       0.032       0.220
Waterfront     5.831e+05   1.74e+04     33.567      0.000    5.49e+05    6.17e+05
View           5.303e+04   2140.915     24.769      0.000    4.88e+04    5.72e+04
Condition      2.617e+04   2349.313     11.137      0.000    2.16e+04    3.08e+04
Grade          9.634e+04   2145.905     44.894      0.000    9.21e+04    1.01e+05
Sqft_above       72.3910      2.093     34.591      0.000      68.289      76.493
Sqft_basement    37.6580      2.413     15.606      0.000      32.928      42.388
Yr_built      -2592.9553     70.965    -36.539      0.000   -2732.052   -2453.859
Yr_renovated     20.1848      3.653      5.526      0.000      13.025      27.345
zipcode        -576.8365     32.864    -17.552      0.000    -641.253    -512.420
Lat            6.045e+05   1.07e+04     56.466      0.000    5.83e+05    6.25e+05
Long          -2.171e+05   1.31e+04    -16.576      0.000   -2.43e+05   -1.91e+05
Sqft_living15    20.9611      3.429      6.114      0.000      14.241      27.681
Sqft_lot15       -0.3872      0.073     -5.285      0.000      -0.531      -0.244
==============================================================================
Omnibus:                    18308.468   Durbin-Watson:                   1.263
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          1837519.377
Skew:                           3.546   Prob(JB):                         0.00
Kurtosis:                      47.611   Cond. No.                     2.54e+17
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 3.39e-21. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

## **Train Test Split**

In [64]:
X_train, X_test, y_train, y_test = train_test_split(X,y,  random_state=2529)

In [65]:
# check shape of train and test sample
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((16209, 17), (5404, 17), (16209,), (5404,))

## **Modeling**

In [66]:
model = LinearRegression()

## **Model Evaluation**

In [67]:
model.fit(X_train,y_train)

LinearRegression()

In [68]:
model.intercept_

5150607.056734942

In [69]:
model.coef_

array([-3.21966992e+04,  3.95458973e+04,  1.07683445e+02,  1.48741750e-01,
        6.49050650e+05,  5.05518345e+04,  2.49548331e+04,  9.63581173e+04,
        7.20859462e+01,  3.55974982e+01, -2.57230297e+03,  2.21945922e+01,
       -5.64093831e+02,  6.00339731e+05, -2.12837570e+05,  2.13978581e+01,
       -3.97832271e-01])

## **Prediction**

In [70]:
y_pred = model.predict(X_test)

In [36]:
#y_pred

# **Evaluation**

In [71]:
from sklearn.metrics import mean_absolute_percentage_error

In [72]:
mean_absolute_percentage_error(y_test,y_pred)

0.25610206338760977

In [35]:
#We use two models :
#1. OLS (ordinary least square)
#2. Linear Regession

#      OLS                             Linear Regression
#. Statistical Model           | . ML Model
#. Statsmodels libray(based on | . sklearn library
# r)
#. Use for Explainatory Models | . Use in Predective Models
#. ex-> How to increase student| . ex-> what will be students
#  admissions                      admissions
#  Model Explainability is 70% | . Model accuracy is 75%